<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
        body {background-color: lightgrey}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }
    </style>
</head>