<!DOCTYPE html>
<html>

{{> header}}

<body>
    <h1>About me</h1>
    {{> links}}
    <p style="text-align:center;">I am a cool dude</p>
    <img class="center" src="http://res.cloudinary.com/simpleview/image/upload/v1486505969/clients/vancouverbc/Aerial_Sunset_Vancouver_d3_copy_1bb86ed0-1edc-4cda-841d-0b033ca0bb72.jpg">
</body>

{{> footer}}

</html>